*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*position: fixed;*/
}
.loadingWrap,.startWrap,.gameWrap,.endWrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loadingWrap{
    background: black;
    perspective: 150px;
}
#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height:100px;
    background: #D21026;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0);
    animation: loading_rotate 3s infinite;
}
@keyframes loading_rotate {
    0%{transform: translate3d(-50%,-50%,0)
    rotateY(0deg)
    }
    100%{transform: translate3d(-50%,-50%,0)
    rotateY(360deg)
    }
}
.startWrap{
    background-image:url("../img/startBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;
}
.startPage{
    position: relative;
    width: 100%;
    height: 100%;
}
#startBtn{
    position: absolute;
    left: 35%;
    bottom: 30%;
    width: 30%;
    height: 7%;
    outline: none;
    background: #8F9293;
    color:black;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid #4C4C4C;
    cursor: pointer;
}
.hint{
    position: absolute;
    /*left: 50%;*/
    bottom: 40%;
    /*width: 65%;*/
    /*height: 7%;*/
    font-size: 12px;
    color: #640200;
    font-weight: bold;
    text-align: center;
}
.gameWrap{
    display: none;
}
.gamePage{
    width: 100%;
    height: 100%;
   position: relative;
}
.p1_mark{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2;
    font-size: 14px;
    display: none;
}
.close{
    position: absolute;
    right: 5%;
    top: 15%;
    width: 6.6875%;
}
#canvas{
    display: none;
}
.ranking_wrap{
    position: absolute;
    left: 5%;
    top: 20%;
    width: 80%;
    border: 2px solid #e33145;
    border-radius: 10px;
    background: #ffead1;
    padding: 15px;
    max-height: 60%;
    overflow: scroll;
}
.ranking_wrap ul {
    width: 100%;
}
.ranking_wrap ul li {
    width: 100%;
    font-weight: 600;
}
.user_name{
    margin-right: 10px;
    font-size: 20px;
    color: #ff6700;
}
.title_img{

    animation: rot 1s infinite alternate;
}

@keyframes rot {
    from{transform: rotate(-35deg) scale(0.8)}
    to{transform: rotate(35deg) scale(1)}
}
#scoreP{
    position: absolute;
    top: 2%;
    left: 7%;
    width: 20%;
    height: 5%;
    font-size: 14px;
    color: blue;
    font-weight: bold;
}
.bloods{
    position: absolute;
    top: 2%;
    right: 5%;
    width: 20%;
    height: 3%;
    background: #00C0A5;
    display: flex;
    align-items:center;
    justify-content: space-around;
    border-radius: 15%;
    border: 1px dashed blue;
}
.blood{
    width: 27%;
    height: 80%;
    background: #0D7138;
    border-radius: 25%;
}
.prompt{
    position: absolute;
    top: 2%;
    right: 28%;
    height: 3%;
    font-size: 14px;
    color: red;

}
#defeatWrap{
    display: none;
}
.defeat{
    display: block;
    margin: 40% auto;
}
.endWrap{
    background: url("../img/gameover.png") no-repeat;
    background-size: 100%;
    display: none;
}
#gameRanking{
    position: absolute;
    display: block;
    top: 3%;
    left: 0;

}
#result{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 8%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    z-index: 3;
}
#again{
    display: block;
    position: absolute;
    width: 35%;
    height: 8%;
    top: 58%;
    left: 34%;
    border-radius: 25%;
}

